@page "/calc-ExchangeRate"
@rendermode InteractiveServer
@inject IConfiguration Configuration
@inject HttpClient HttpClient

@using System.Net.Http
@using System.Text.Json;
@using System.Threading.Tasks;
@using System;

<style>
    .display-calc {
        width: 300px;
        text-align: right;
        font-size: 64px;
    }

    .button-number {
        height: 120px;
        width: 120px;
        background-color: lightskyblue;
        font-size: 24px;
    }

    .unit{
        width: 50px;
        height: 80px;
        font-size: 64px;
    }
    #center {
        text-align:center;
    }
    .currency{
        width: 200px;
        height: 30px;
        font-size: 20px;
    }
</style>

<PageTitle>Calc_Exchangerate</PageTitle>

<h1> 환율 계산기 (달러, 엔화, 유로) </h1>
<h5> [오늘의 환율] </h5>
<label class="currency">@this.CurrencyValue_USD</label>
<h6></h6>
<label class="currency">@this.CurrencyValue_JPY</label>
<h6></h6>
<label class="currency">@this.CurrencyValue_EUR</label>

<div style="display:flex"> 
    <label class="display-calc">@this.ValueToDisplay.ToString("#,#0.####")</label>
    <label class="unit" id="center">@this.UnitChanged</label>
</div>

<form>
    <select name="UserChoice" @onchange="selectBox" value="@User_Select_Currency">
        <option value="USD">USD-달러($)</option>
        <option value="JP">JP-엔화(¥)</option>
        <option value="EUR">EUR-유로(€)</option>
    </select>
</form>

<div style="display:flex">
    <label class="display-calc">@this.ValueUserClicked.ToString("#,#0.####")</label>
    <label class="unit" id="center" >@this.UnitWON</label>
</div>

<div style="display:flex">
    <button class="button-number" @onclick="() => clickButton(7)">7</button>
    <button class="button-number" @onclick="() => clickButton(8)">8</button>
    <button class="button-number" @onclick="() => clickButton(9)">9</button>
</div>

<div style="display:flex">
    <button class="button-number" @onclick="() => clickButton(4)">4</button>
    <button class="button-number" @onclick="() => clickButton(5)">5</button>
    <button class="button-number" @onclick="() => clickButton(6)">6</button>
</div>

<div style="display:flex">
    <button class="button-number" @onclick="() => clickButton(1)">1</button>
    <button class="button-number" @onclick="() => clickButton(2)">2</button>
    <button class="button-number" @onclick="() => clickButton(3)">3</button>
</div>

<div style="display:flex">
    <button class="button-number" @onclick="clickClear">C</button>
    <button class="button-number" @onclick="() => clickButton(0)">0</button>
    <button class="button-number"></button>
</div>

@code {
    public class ExchangeRate
    {
        public int result { get; set; }
        public string cur_unit { get; set; }
        public string ttb { get; set; }
        public string tts { get; set; }
        public string deal_bas_r { get; set; }
        public string bkpr { get; set; }
        public string yy_efee_r { get; set; }
        public string ten_dd_efee_r { get; set; }
        public string kftc_bkpr { get; set; }
        public string kftc_deal_bas_r { get; set; }
        public string cur_nm { get; set; }
    }

    private string User_Select_Currency { get; set; } = "USD";
    private float ValueToDisplay { get; set; } = 0;
    private float ValueUserClicked { get; set; } = 0;

    private float ConvertToCal_USD {get; set;} = 0;
    private float ConvertToCal_JPY { get; set; } = 0; 
    private float ConvertToCal_EUR { get; set; } = 0;

    private string UnitWON { get; set; } = "\u20A9"; 
    private string UnitChanged { get; set; } = " ";

    private string CurrencyValue_USD { get; set; } = "";
    private string CurrencyValue_JPY { get; set; } = ""; 
    private string CurrencyValue_EUR { get; set; } = ""; 

    protected override async Task OnInitializedAsync()
    {
        await getExchangeJson();
    }

    private async Task getExchangeJson()
    {
        string currentDate = DateTime.Now.ToString("yyyyMMdd");
        string authKey = Configuration["ApiAuthKey"] ?? string.Empty;
        string requestUrl = $"https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey={authKey}&searchdate={currentDate}&data=AP01";


        var exchangeRates = await HttpClient.GetFromJsonAsync<ExchangeRate[]>(requestUrl);

        var usd = exchangeRates?.FirstOrDefault(r => r.result == 1 && r.cur_unit == "USD");
        var eur = exchangeRates?.FirstOrDefault(r => r.result == 1 && r.cur_unit == "EUR");
        var jpy = exchangeRates?.FirstOrDefault(r => r.result == 1 && r.cur_unit == "JPY(100)");
        if (usd != null)
        {
            ConvertToCal_USD = float.Parse(usd.deal_bas_r);
            CurrencyValue_USD = $"1$ = {usd.deal_bas_r}₩";
        }
        else
        {
            Console.WriteLine("USD 정보를 가져올 수 없습니다.");
        }
        if (eur != null)
        {
            ConvertToCal_EUR = float.Parse(eur.deal_bas_r);
            CurrencyValue_EUR = $"1€ = {eur.deal_bas_r}\u20A9";
        }
        else
        {
            Console.WriteLine("EUR 정보를 가져올 수 없습니다.");
        }
        if (jpy != null)
        {
            ConvertToCal_JPY = float.Parse(jpy.deal_bas_r);
            CurrencyValue_JPY = $"100¥ = {jpy.deal_bas_r}\u20A9";
        }
        else
        {
            Console.WriteLine("JPY 정보를 가져올 수 없습니다.");
        }
    }

    private async Task selectBox(ChangeEventArgs e)
    {
        User_Select_Currency = e.Value.ToString();
        switch (User_Select_Currency)
        {
            case "USD":
                UnitChanged = "$";
                ValueToDisplay = 0;
                ValueUserClicked = 0;
                break;
            case "JP":
                UnitChanged = "¥";
                ValueToDisplay = 0;
                ValueUserClicked = 0;
                break;
            case "EUR":
                UnitChanged = "€";
                ValueToDisplay = 0;
                ValueUserClicked = 0;
                break;
            default:
                UnitChanged = " ";
                ValueToDisplay = 0;
                ValueUserClicked = 0;
                break;
        }
        await Task.CompletedTask;
    }

    private void writeStatus()
    {
        Console.WriteLine($"ValueToDisplay[{this.ValueToDisplay}], USDcurrency[{this.CurrencyValue_USD}], EURcurrency[{this.CurrencyValue_EUR}], JPYcurrency[{this.CurrencyValue_JPY}]");
    }

    private async void clickButton(int value)
    {
        ValueUserClicked = ValueUserClicked * 10 + value;
        await getExchangeJson();
        switch (User_Select_Currency)
        {

            case "USD":
                UnitChanged = "$";
                ValueToDisplay = ValueUserClicked / ConvertToCal_USD;
                break;
            case "JP":
                UnitChanged = "¥";
                ValueToDisplay= ValueUserClicked/ ConvertToCal_JPY*100;
                break;
            case "EUR":
                UnitChanged = "€";
                ValueToDisplay= ValueUserClicked/ ConvertToCal_EUR;
                break;
            default:
                UnitChanged = " ";
                Console.WriteLine("Not supported");
                break;
        }
        StateHasChanged();

        writeStatus();
    }

    private void clickClear()
    {
        ValueToDisplay = 0;
        ValueUserClicked = 0;
        writeStatus();
    }
}
